@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply h-full overflow-hidden;
}

@font-face {
	font-family: gt-walsheim-pro;
	src: url('/fonts/GTWalsheimPro-Regular.ttf');
	font-display: swap;
}

@font-face {
	font-family: gt-walsheim-pro-medium;
	src: url('/fonts/GTWalsheimPro-Medium.ttf');
	font-display: swap;
}

/* Manually set skeleton UI styles */
.dark ::-webkit-scrollbar-thumb {
	background-color: rgb(100, 100, 100);
}